body[b-1mkwpo1cyy]
{
    color: blue;
}
h2[b-1mkwpo1cyy]{
    color:red;
    font-size:x-large;
}
table[b-1mkwpo1cyy], th[b-1mkwpo1cyy], td[b-1mkwpo1cyy] {
    border: 2px solid;
    width: 100%;
    font-weight: bold;
    color:red;
  }