@page "/about"


<PageTitle>About</PageTitle>

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="stockimage.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">THE ABOUT</h1>
                    <p><b>Problem Statement:</b></p>
                    <p>The stock market has always been an attractive source of income for people who are interested in investing. However, due to the complex nature of the market and its volatility, it can be challenging for individual investors to make informed decisions. Additionally, there is a lack of reliable and user-friendly platforms that can assist users in making trades, managing their portfolio, and tracking their investments.</p>
                    <br>
                    <p><b>Proposed Solution:</b></p>
                    <p>To address the challenges faced by individual investors, we propose the development of a stock trading web application that provides users with a simple, secure, and intuitive platform to, where they can view stock portfolios, and track their investments via graphs. Our platform will provide real-time market data, detailed analytics, and an easy-to-use interface that will allow users to make informed investment decisions.</p>
                </div>
            </div>
        </div>

@code{

}
