@page "/history"
@using StockApp.Models;
@using StockApp.Clients;
@using StockApp.Pages;
@inject StockClient StockClient;

<PageTitle>Stock Search History</PageTitle>
    <h3>Stock Information</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Symbol</th>
                        <th>Date Time</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>                     
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var value in historyList)
                        {
                                <td>@value</td>                                
                        } 
                        <td>value</td>                               
                    </tr>
                </tbody>
            </table>
        </div>
@code {
    [Parameter]
    public List<HistoryList> historyList { get; set; }
    //<HistoryList historyList="historyList"
    /*public List<string> AddStock()
    {
        foreach(var value in stockSearch!.GetSearchHistory(historyList))
        historyList.Add(value);
        return historyList;
    }*/
}
