@page "/"
@using StockApp.Models;
@inject ILocalStorageService LocalStorage

<PageTitle>Login</PageTitle>

<!-- Page Content -->
<div class="container px-4 px-lg-5">
    <!-- Login Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">Login</h1>
            <EditForm Model="@user" OnValidSubmit="ValidateUser">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" @bind-value="userName" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" @bind-value="userPassword"  placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <form method="get">
                <button type="submit" class="btn btn-primary"asp-page="./welcome" @onclick="RegisterUser">Register</button>
                </form>          
            </EditForm>
            <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Welcome user</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var value in userList)
                            {
                                <tr>
                                    <td>@value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
        </div>
    </div>
</div>

@code {
    private User? user;
    private string userName;
    private string userPassword;
    private string[]? registerUser;
    protected override Task OnInitializedAsync()
    {
        user = new User();
        return base.OnInitializedAsync();
    }
    private async Task<bool> ValidateUser()
    {
        return await Task.FromResult(true);
    }
    private List<string> userList = new List<string>();
    private async Task RegisterUser()
    {
        NavigationManager? manager = null;
        //await LocalStorage.SetItemAsync("userPassword",user.userPassword);
        await LocalStorage.SetItemAsync<string[]>("userName",userList.ToArray()); 
        userList.Add(userName);
        //manager.NavigateTo("/welcome");
    }
}

