@page "/welcome"
@inject HttpClient Http
@using System.Net.Http.Json
@using StockApp.Models
@using StockApp.Clients;
@inject StockClient StockClient;
@inject ILocalStorageService LocalStorage
<h3>Welcome</h3>

<table class="table">
        <thead>
            <tr>
                <th> Welcome User </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in userLogs)
            {
                <tr>
                    <td>User</td>
                    <td>@value</td>
                </tr>
            }
        </tbody>
    </table>

@code {
    private string[]? userLogs;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        userLogs = await LocalStorage.GetItemAsync<string[]>("userName"); 
    }
}
