@page "/welcome"
@inject HttpClient Http
@using System.Net.Http.Json
@using StockApp.Models
@using StockApp.Clients;
@inject StockClient StockClient;
@inject ILocalStorageService LocalStorage
    <img style="height:360px; width:100%;" src="https://cdn.dribbble.com/users/27231/screenshots/2432051/welcome.gif"/>
            @foreach (var value in userLogs)
            {
                    
                    <h2 style="text-align:center; color: blue">@value</h2>
            }
@code {
    private string[]? userLogs;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        userLogs = await LocalStorage.GetItemAsync<string[]>("userName"); 
    }
}
